<div class="row">
  <div class="col-md-6">
    <div class="card border-info mb-3">
      <div class="card-header"><h1>ToDos No Completados</h1></div>
      <div class="card-body">
        <% @todos.each do |todo| %>
          <h3 class="card-title"><%= todo.description if !todo.completed%></h3>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card border-info mb-3">
      <div class="card-header"><h1>ToDos Completados</h1></div>
      <div class="card-body">
        <% @todos.each do |todo| %>
         <h3 class="card-title"><%= todo.description if todo.completed%></h3>
         <% end %>
       </div>
    </div>
  </div>
</div>
